{% extends "base.html.twig" %}

{% block body %}

    {% block styleFanArts %}
        <link rel="stylesheet" href="{{ asset ("styles/fanarts.styles.css")}}">
    {% endblock %}

    {% include "pages/parts/sidebar.html.twig" %}

    <div class="contenuElements">
        {% for article in articles %}
            <div class="elements">
                <p>{{ article.articleTitle }}</p>
                <div class="text">
                    <p>{{ article.articleText }}</p>
                </div>
                <a href="{{ path("article", {slug : article.slug}) }}" class="btn btn-secondary">Voir</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}