{% extends "base.html.twig" %}

{% block body %}

    {% for article in articles %}
        <p>{{ article.articleTitle }}</p>
        <p>{{ article.articleText }}</p>
        {# <p>{{ article.articleDate }}</p> #}
    {% endfor %}

{% endblock %}