{% extends "base.html.twig" %}

{% block body %}

    {% for fanArt in fanArts %}
        <p>{{ fanArt.fanArtTitle }}</p>
        <p>{{ fanArt.fanArtHook }}</p>
        <img src="{{ fanArt.fanArtSketch }}" style="width:200px; height:200px;"></img>
    {% endfor %}

{% endblock %}