{% extends "base.html.twig" %}

{% block body %}

    {% block styleFanArts %}
        <link rel="stylesheet" href="{{ asset ("styles/fanarts.styles.css")}}">
    {% endblock %}

    {% include "pages/parts/sidebar.html.twig" %}

    <div class="contenuElements">
        {% for fanArt in fanArts %}
            <div class="elements">
                <p>{{ fanArt.fanArtTitle }}</p>
                <img src="{{ fanArt.fanArtSketch }}" alt="">
                <div class="text">
                    <p>{{ fanArt.fanArtHook }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}