{% extends 'base.html.twig' %}

{% block body %}
    {% block styleFanArts %}
        <link rel="stylesheet" href="{{ asset ("styles/home.styles.css")}}">
    {% endblock %}

    <div class="container-fluid">
        <div>
            <div class="col-12">
                    
                <p>{{ user.pseudo }}</p>

            </div>
        </div>
    </div>

    

    {% for fanart in fanarts  %}

        <p>{{ fanart.fanArtTitle }}</p>
        <img src="/uploads/images/{{ fanart.fanArtSketch }}" alt="">

    {% endfor %}

{% endblock %}