{% extends 'base.html.twig' %}

{% block body %}
    {% block styleFanArts %}
        <link rel="stylesheet" href="{{ asset ("styles/home.styles.css")}}">
    {% endblock %}

    <div class="container-fluid">
        <div>
            <div class="col-12">

                {% for user in user %}
                    
                <p>{{ user.pseudo }}</p>
                {% endfor %}

            </div>
        </div>
    </div>

    {% for fanart in fanarts  %}

        <img src="{{ fanart.fanArtSketch }}" alt="">
    
    {% endfor %}

{% endblock %}