.elements{
    height:350px;
    background-color: rgb(212, 212, 212);
    border:1px solid black;
    border-radius:10px;
    text-align:center;
}

.elements img{
    width:200px; 
    height:200px;
}

.text{
    margin-top:8px;
    background-color:rgb(161, 161, 161);
}