/**** Header + bouton ****/
body{
    margin:0;
    font-family: 'Permanent Marker', cursive;
}

header{
    background-color:red;
    height:210px;
    display:flex;
    flex-direction:row;
}
  
.element-left{
    background-image:url();
    width:20%;
    height:200px;
}

.element-right{
    background-color:blue;
    width:20%;
    height:200px;
}

.block-middle{
    background-color:yellow;
    height:200px;
    width:60%;
    display:flex;
    flex-direction:column;
}
  
.element-middle-top{
    width:50%;
    height:200px;
    background-color:green;
    margin:0 auto;
}
  
.element-middle-bottom{
    width:100%;
    height:60px;
    background-color:cyan;
    text-align:center;
}
  
.element-middle-bottom button:nth-child(1n){
    width:120px;
    height:45px;
    background-color:red;
    border:0px;
    font-family: 'Lilita One', cursive;
    font-size:26px;
    margin:0 10px;
}
  
.element-middle-bottom a:nth-child(1n){
    text-decoration:none;
    color:white;
}

.contenuPresentation{
    width:80%;
    height:fit-content;
    background-color:rgba(0, 0, 255, 0.411);
    margin:50px auto;
    color: rgba(253, 253, 0, 0.411);
    text-align:center;
    transition-duration: 0.5s;
    font-size:25px;
    border-radius:50px;
    padding-bottom:10px;
}

.contenuPresentation p:nth-child(2){
    color:rgba(0, 0, 0, 0.300);
    transition-duration: 0.5s;
    font-size:16px;
    padding-left:5px;
    padding-right:5px;
}

.contenuPresentation:hover{
    background-color:rgba(0, 0, 255, 0.830);
    transition-duration: 0.5s;
    color: #FFFF00;
}

.contenuPresentation p:nth-child(2):hover{
    color:rgb(185, 185, 255);
    text-shadow: 3px 3px 2px black;
    transition-duration: 0.5s;
}

.footer{
    width:100%;
    height:100px;
    margin-top:150px;
    background: linear-gradient(to right, white -50%, rgb(57, 57, 252));
    text-align:center;
}

.footer p{
    text-shadow: 2px 2px 3px #FFFF00;
}

.footer span{
    text-shadow: 2px 2px 3px red;
}

.footer a{
    height:100px;
    font-size:13px;
    color: black;
    font-family: 'Lilita One', cursive;
    text-decoration:none;
}

.footer a:hover{
    color:white;
    background-color:red;
    position:relative;
    bottom:1px;
    transition-duration:0.5s;
}



/* body{
    padding:0;
    margin:0;
    font-family: 'Permanent Marker', cursive;
    height:1100px;
} */

/**** Header ****/
/* .contenuHead{
    width:100%;
    height:200px;
    background: linear-gradient(to right, white 20%, rgb(57, 57, 252));
}

.titreComics{
    width:240px;
    height:80px;
    font-family: 'Pacifico', cursive;
    text-align:center;
    margin:auto;
    font-size:50px;
    color: black;
    text-shadow:3px 2px 2px rgb(202, 172, 0);
    background-color:yellow;
}

.titreFrench{
    font-family: 'Pacifico', cursive;
    text-align:center;
    width:390px;
    height:65px;
    margin:auto;
    font-size:45px;
    color: black;
    text-shadow:3px 2px 2px rgb(202, 172, 0);
    background-color:yellow;
}

.dcMarvel{
    width:100%;
    height:130px;
    margin:15px 10px;
    box-sizing: content-box;
    background-image: url(/img/logomix.jpg);
    background-size: 130px;
    background-repeat:no-repeat;
    background-position:center;
} */

/**** Formulaire ****/
/* .user{
    width:150px;
    height:200px;
    margin:0 auto;
    margin-top:15px;
    background-image:url(/img/wolvieminiblue.gif);
    background-size:142px;
    background-repeat:no-repeat;
}

.labelTitre{
    text-shadow:2px 1px 1px rgb(202, 172, 0);
}

.labelLog input{
    font-family: 'Permanent Marker', cursive;
    width:133px;
    border-radius:10px;
    border:4px groove blue;   
    transform:translate(0%, 100%); 
}

.labelPass input{
    width:133px;
    border:4px groove blue;   
    border-radius: 10px;
    transform:translate(0%, 140%); 
    font-family: 'Permanent Marker', cursive;
}

.submit{
    font-family: 'Permanent Marker', cursive;
    transform:translate(0%, 260%);
    width:142px;
    height:30px;
    letter-spacing: 3px;
    color:yellow;
    background-color: black;
    border:0px #5A5AE9;
    text-shadow:2px 1px 3px rgb(202, 172, 0);
}

.submit:hover{
    box-shadow: -2px -2px 10px blue, 2px 2px 40px blue, 0px 0px 80px blue, 0px 0px 80px blue;
    transition-duration:1s;
    color:black;
    background-color:yellow;
    text-shadow: 2px 1px 2px black;
} */

/**** Bouton ****/
/* .contenuBouton{
    margin-top:80px;
    width:100%;
}

.acceuil{
    width:120px;
    height:45px;
    background-color:red;
    border:0px;
    font-family: 'Lilita One', cursive;
    color:white;
    font-size:36px;
    margin-left:20%;
}

.artistes{
    font-family: 'Lilita One', cursive;
    width:120px;
    height:45px;
    transform: translate(0%, -2%);
    background-color:red;
    border:0px;
    color:white;
    font-size:32px;
}

.fan{
    font-family: 'Lilita One', cursive;
    background-color:red;
    border:0px;
    width:120px;
    height:45px;
    color:white;
    font-size:30px;
    transform: translate(0%, -4%);
}

.contenuPresentation{
    width:80%;
    height:fit-content;
    background-color:rgba(0, 0, 255, 0.411);
    margin:50px auto;
    color: rgba(253, 253, 0, 0.411);
    text-align:center;
    transition-duration: 0.5s;
    font-size:25px;
    border-radius: 10%;
    padding-bottom:10px;
} */

/**** HOME Body ****/
/* .contenuPresentation:hover{
    background-color:rgba(0, 0, 255, 0.830);
    transition-duration: 0.5s;
    color: #FFFF00;
}

.contenuPresentation p:nth-child(2){
    color:rgba(0, 0, 0, 0.300);
    transition-duration: 0.5s;
    font-size:16px;
    padding-left:5px;
    padding-right:5px;
}

.contenuPresentation p:nth-child(2):hover{
    color:rgb(185, 185, 255);
    text-shadow: 3px 3px 2px black;
    transition-duration: 0.5s;
} */