
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

body{
    font-family: 'Permanent Marker', cursive;
    background: #114674;
}

/**** Header + bouton ****/
header{
    height:250px;
    display:flex;
    flex-direction:row;

}

.block-middle{
    height:250px;
    width:100%;

}

.element-middle-top{
    width:100%;
    height:200px;
    background-color: #FFFFFF;
    background-repeat:no-repeat;
}
  
.background-middle-top{
    min-width:280px;
    max-width: 350px;
    min-height:200px;
    max-height: 320px;
    background-image:url(/medias/comics_ffa_logo_v2.png);
    background-repeat:no-repeat;
    background-size:cover;
    margin:0 auto;
}

.element-middle-bottom{
    width:100%;
    height:50px;
    text-align:center;
}
  
.element-middle-bottom button:nth-child(1n){
    max-width:120px;
    min-width:60px;
    height:45px;
    background-color:red;
    border:0px;
    font-family: 'Lilita One', cursive;
    font-size:16px;
}
  
.element-middle-bottom a:nth-child(1n){
    text-decoration:none;
    color:white;
}

/* Formulaire */
.element-right{
    min-width:180px;
    max-width:280px;
    min-height: 210px;
    max-height:275px;
    background-image:url(/medias/wolvieminiblue.gif);
    background-position-y:-20px;
    background-repeat:no-repeat;
    background-size:cover;
}

.labelTitre{
    text-shadow:2px 1px 1px rgb(202, 172, 0);
    text-align: center;
    color: white;
}

.labelLog input{
    font-family: 'Permanent Marker', cursive;
    width:100%;
    border-radius:10px;
    border:4px groove blue;   
    margin-top:50px;
}

.labelPass input{
    width:100%;
    border:4px groove blue;   
    border-radius: 10px;
    margin-top:10px;
    font-family: 'Permanent Marker', cursive;
}

.submit{
    width: 100%;
    font-family: 'Permanent Marker', cursive;
    margin-top:210px;
    height:30px;
    letter-spacing: 3px;
    color:yellow;
    background-color: black;
    border:0px #5A5AE9;
    text-shadow:2px 1px 3px rgb(202, 172, 0);
}

.submit:hover{
    box-shadow: -2px -2px 10px blue, 2px 2px 40px blue, 0px 0px 80px blue, 0px 0px 80px blue;
    transition-duration:1s;
    color:black;
    background-color:yellow;
    text-shadow: 2px 1px 2px black;
}

/**** Body ****/
.contenuPresentation{
    width:80%;
    height:fit-content;
    background-color:rgba(71, 107, 134, 0.411);
    margin:50px auto;
    color: #FFFF00;
    text-align:justify;
    transition-duration: 0.5s;
    font-size:25px;
    border-radius:50px;
    padding:15px;
}

.contenuPresentation p:nth-child(2){
    color:#FFFF00;
    transition-duration: 0.5s;
    font-size:16px;
    padding-left:5px;
    padding-right:5px;
}

.contenuPresentation:hover{
    transition-duration: 0.5s;
    color: #FFFF00;
    background-color:#114674;
}

.contenuPresentation p:nth-child(2):hover{
    color:#C1B2A6;
    text-shadow: 3px 3px 2px black;
    transition-duration: 0.5s;
}

.centrer{
    text-align: center;
}

/**** Footer ****/
.footer{
    width:100%;
    height:120px;
    background-color:#FFFFFF;
    display:flex;
}

.element-text{
    width:100%;
    height:120px;
    text-align:center;
}

.element-text p{
    text-shadow: 2px 2px 3px #FFFF00;
    color:#131B2C;
}

.element-text span{
    text-shadow: 2px 2px 3px red;
}

.element-text a{
    height:100px;
    font-size:13px;
    color: #131B2C;
    font-family: 'Lilita One', cursive;
    text-decoration:none;

}

.element-text a:hover{
    color:white;
    background-color:red;
    position:relative;
    bottom:1px;
    transition-duration:0.5s;
}
p{
    font-family: 'Roboto Condensed', sans-serif;
}
/*** user profile ***/
.profil{
    text-align: center;
    color: #5eb5e0;
}
li{
    list-style-type: none;
    text-align: center;
}

