body{
    margin:0;
    font-family: 'Permanent Marker', cursive;
}

/**** Header + bouton ****/
header{
    /* background-color:red; */
    height:250px;
    display:flex;
    flex-direction:row;
}
  
.element-left{
    background-image:url(/medias/logomix.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    width:20%;
    height:230px;
}

.block-middle{
    /* background-color:yellow; */
    height:250px;
    width:60%;
    display:flex;
    flex-direction:column;

}

.element-middle-top{
    width:100%;
    height:200px;
    background: radial-gradient(#114674, black );
    background-repeat:no-repeat;
}
  
.background-middle-top{
    width:280px;
    height:200px;
    /* background-color:green; */
    background-image:url(/medias/comics_ffa_logo_v2.png);
    background-repeat:no-repeat;
    background-size:cover;
    margin:0 auto;
}
  
.element-middle-bottom{
    width:100%;
    height:50px;
    /* background-color:cyan; */
    text-align:center;
}
  
.element-middle-bottom button:nth-child(1n){
    width:120px;
    height:45px;
    background-color:red;
    border:0px;
    font-family: 'Lilita One', cursive;
    font-size:26px;
}
  
.element-middle-bottom a:nth-child(1n){
    text-decoration:none;
    color:white;
}

/* Formulaire */
.element-right{
    min-width:15%;
    height:230px;
    background-image:url(/medias/wolvieminiblue.gif);
    background-position-y:-20px;
    background-repeat:no-repeat;
    background-size:cover;
}

.labelTitre{
    text-shadow:2px 1px 1px rgb(202, 172, 0);
    text-align: center;
}

.labelLog input{
    font-family: 'Permanent Marker', cursive;
    width:100%;
    border-radius:10px;
    border:4px groove blue;   
    margin-top:50px;
}

.labelPass input{
    width:100%;
    border:4px groove blue;   
    border-radius: 10px;
    margin-top:10px;
    font-family: 'Permanent Marker', cursive;
}

.submit{
    font-family: 'Permanent Marker', cursive;
    margin-top:230px;
    width:100%;
    height:30px;
    letter-spacing: 3px;
    color:yellow;
    background-color: black;
    border:0px #5A5AE9;
    text-shadow:2px 1px 3px rgb(202, 172, 0);
}

.submit:hover{
    box-shadow: -2px -2px 10px blue, 2px 2px 40px blue, 0px 0px 80px blue, 0px 0px 80px blue;
    transition-duration:1s;
    color:black;
    background-color:yellow;
    text-shadow: 2px 1px 2px black;
}

/**** Body ****/
.contenuPresentation{
    width:80%;
    height:fit-content;
    background-color:rgba(71, 107, 134, 0.411);
    margin:50px auto;
    color: rgba(253, 253, 0, 0.411);
    text-align:center;
    transition-duration: 0.5s;
    font-size:25px;
    border-radius:50px;
    padding-bottom:10px;
}

.contenuPresentation p:nth-child(2){
    color:rgba(19, 27, 44, 0.411);
    transition-duration: 0.5s;
    font-size:16px;
    padding-left:5px;
    padding-right:5px;
}

.contenuPresentation:hover{
    transition-duration: 0.5s;
    color: #FFFF00;
    background-color:#114674;
}

.contenuPresentation p:nth-child(2):hover{
    color:#C1B2A6;
    text-shadow: 3px 3px 2px black;
    transition-duration: 0.5s;
}

/**** Footer ****/
.footer{
    width:100%;
    height:100px;
    margin-top:150px;
    text-align:center;
    background-color:#114674
}

.footer p{
    text-shadow: 2px 2px 3px #FFFF00;
    color:#131B2C;
}

.footer span{
    text-shadow: 2px 2px 3px red;
}

.footer a{
    height:100px;
    font-size:13px;
    color: #131B2C;
    font-family: 'Lilita One', cursive;
    text-decoration:none;
}

.footer a:hover{
    color:white;
    position:relative;
    bottom:1px;
    transition-duration:0.5s;
}

.centrer{
    text-align: center;
}


/**** Page artistes ****/

