.sideBar{
    font-family: 'Lilita One', cursive;
    font-size:18px;
    background: #FFFFFF;
}

.sideBar a{
    color: #FFFFFF;
    margin-left:20px;
}

.sideBar a:hover{
    text-decoration:none;
    color: #114674;
    transition-duration: 0.5s;
}