.sideBar{
    font-family: 'Lilita One', cursive;
    min-width:200px;
    height:100%;
    background-color: #114674;
    margin-left:-15px;
    font-size:18px;
}

.sideBar a{
    color: #66ace9;
    margin-left:20px;
}

.sideBar a:hover{
    text-decoration:none;
    color:white;
    transition-duration: 0.5s;
}