{% block style %}
    <link rel="stylesheet" href="{{asset("styles/home.styles.css")}}">
{% endblock %}

<div class="footer">
    <p>Certaines images et photos sont les <span>propriétés exclusives</span> de</p>
    <a href="https://www.marvel.com" target="_blank"> MARVEL COMICS™</a>, 
    <a href="https://www.dccomics.com" target="_blank"> DC COMICS™</a>, 
    <a href="https://www.dccomics.com" target="_blank">DARK HORSE COMICS™</a>, 
    <a href="https://imagecomics.com" target="_blank">IMAGE COMICS™</a>
</div>
