{% block style %}
    <link rel="stylesheet" href="{{asset("styles/home.styles.css")}}">
{% endblock %}

{# Header + bouton #}
<header>
  <div class="element-left"></div>
  <div class="block-middle">
    <div class="element-middle-top">
        <div class="background-middle-top"></div>
    </div>
    <div class="element-middle-bottom">
      <button><a href="#">Acceuil</a></button>
      <button><a href="#">Artistes</a></button>
      <button><a href="#">Fan Arts</a></button>
    </div>
  </div>

  {# Formulaire #}
  <div class="element-right">

    <form>
        <div class="labelTitre">Viens te loguer !</div>
        <div class="labelLog">
            <input type="text" name="login" placeholder="Pseudo">
        </div>
        <div class="labelPass">
            <input type="password" name="pass" placeholder="Mot de passe">
        </div>
        <input class="submit" type="submit" value="Connection" name="connection">
        {{ render(controller('App\\Controller\\UserController::homeAction')) }}
    </form>
  </div>
</header>






   
{# Header #}
{# <header class="contenuHead">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <div class="dcMarvel"></div>
            </div>
            <div class="col-sm-8">
                <div class="titreComics">
                    <span>COMICS</span>
                </div>
                <div class="titreFrench">
                    <span>French fans arts</span>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="user">
                    <form>
                        <div class="labelTitre">Viens te loguer !</div>
                        <div class="labelLog">
                            <input type="text" name="login" placeholder="Pseudo">
                        </div>
                        <div class="labelPass">
                            <input type="password" name="pass" placeholder="Mot de passe">
                        </div>
                        <input class="submit" type="submit" value="Connection" name="connection">
                    </form>
                </div>
            </div>
        </div>
    </div>
</header> #}

{# Bouton Menu #}
{# <div class="container">
    <div class="row contenuBouton">
        <div class="col-sm-4">
            <button class="acceuil" onclick="bouton()">Accueil</button>
        </div>
        <div class="col-sm-4">
            <button class="artistes" onclick="bouton2()">Artistes</button>
        </div>
        <div class="col-sm-4">
            <button class="fan" onclick="bouton3()">Fan Arts</button>
        </div>
    </div>
</div> #}