{% extends 'base.html.twig' %}

{% block body %}

    {% block style %}
        <link rel="stylesheet" href="{{asset("style/home.styles.css")}}">
    {% endblock %}

    <div class="contenuPresentation">
        <p>Présentation</p>
        <p>Bonjour à tous et bienvenue sur ma page. Comme vous l'avez vu, c'est un site qui va parler de Comics. Pas de tous les comics non, je n'ai ni la prétention de tous les connaîtres ni de tous les lires, juste les comics que j'aime ou que j'ai aimé. Les Comics mais aussi les dessinateurs. Alors je sais qu'on va me dire qu'il en manque des tonnes mais je n'ai pas dit que je serais exhaustif, non plus. D'où le nom de MES comics! Dans la partie Forum nous pourrons échanger nos avis et même nos dessins oldies ou récents, mais toujours dans le respect des goûts de chacun. Je serais intransigeant là-dessus! Ne soyez pas étonné non plus de voir beaucoup de "vieux" comics. J'avoue ne plus être autant accroc que j'ai pu l'être, pour x ou y raisons, je suis toujours l'actualité autant que possible car ça reste une passion pour moi mais dans la vie on doit faire des choix et économiquement je ne pouvais plus m'éparpiller de partout. Autre chose, si vous trouvez des news et actus sympas partagez les moi dans le Forum et si beaucoup de monde trouve ça intéréssant on la publiera dans les news sur la page. A condition qu'il y ait des sources et aucun spoil bien sûr. Allez sur ce, enjoy et partagez vos avis!!</p>
    </div>
    
{% endblock %}