{% extends 'base.html.twig' %}

{% block body %}

    {% block style %}
        <link rel="stylesheet" href="{{asset("styles/home.styles.css")}}">
    {% endblock %}
<div class="centrer">
    {% if user %}
    <h4>Bienvenue, {{ user.pseudo }}</h4>
    {% endif %}
</div>







{% endblock %}