{% block styleNav %}
    <link rel="stylesheet" href="{{ asset ("styles/sidebar.styles.css")}}">
{% endblock %}

<div class="sideBar">

    {% if app.request.get('_route') == 'fanArts' %}

    <a href="{{ path('dashboard_fanArts_create') }}">Créer un fan-art</a>

    {% else %}

        <a href="{{ path('dashboard_articles_create') }}">Créer un article</a>

    {% endif %}

</div>