{% block styleNav %}
    <link rel="stylesheet" href="{{ asset ("styles/sidebar.styles.css")}}">
{% endblock %}

<div class="sideBar">

    {#{% if app.user == article.userId %}
    <button><a href="{{ path('dashboard_fanArts_update') }}"></a></button>
    {% endif %}#}
</div>